{% extends 'layout.html' %}
{% block title %}{% parent %}{{title}}{% endblock %}
{% block head %}{% parent %} <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
    <script src="scripts/project.js"></script>
    <script src="scripts/mongolab.js"></script>{% endblock %}
{% block content %}
  	<h2>JavaScript Projects</h2>
    <div ng-view></div>
{% endblock %}